/*header style*/
.header{
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 60% 20%;
    background-color: white;
    box-shadow: 0px 0px 3px dodgerblue;
    margin-bottom: 2em;
}
.header .logo{
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-left: 2em;
}
.header .logo img{
    display: flex;
    padding: 0 .5em;
    width: 80%;
    text-align: center;
}
.header nav ul{
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    padding-right: 1em;

}
.header nav ul a {
    padding: .5em;
    text-decoration: none;
    list-style: none;
}
.header nav ul a li {
    padding: 1em;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    
}
.header nav ul a li:hover {
    background-color: whitesmoke;
    color: black;
}
.header .btn_container{
    display: flex;
    justify-content: left;
    padding-left: 1em;
}
.header .btn_container .btn_whatsapp{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5em;
}
.header .btn_container .btn_whatsapp a{
    padding: .5em;
    border-radius: 5px;
    color: black;
    border: 1px solid whitesmoke;
}
.header .btn_container .btn_whatsapp a:hover{
    background-color: whitesmoke;
    color: white;
}

.header .btn_container .btn_instagram{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
}
.header .btn_container .btn_instagram a{
    border: 1px solid whitesmoke;
    padding: .5em ;
    border-radius: 5px;
}
.header .btn_container .btn_instagram a:hover{
    background-color: whitesmoke;
    color: dodgerblue;
}
.header .btn_container .btn_instagram a img{
    width: 30px;
}
