/* header_container */

.header_container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: lime;
  padding: 0;
  margin: 0;
}

.header_container a {
  text-decoration: none;
  list-style: none;
}

.header_container 
.media_container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header_container 
.media_container 
.btn_instagram a img {
  width: 30px;
}

/* boton up */

.subir {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 3em;
  color: deeppink;
  border-radius: 50%;
  z-index: 2000;
  overflow: hidden;
}