@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('header.css');
@import url('section.css');
@import url('article.css');
@import url('footer.css');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: mulish;
}
a{
    text-decoration: none;
    color: black;
}
.mulish{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.padding{
    padding: 0em .5em;
}
.fwb{
    font-weight: bold;
}