/* seccion de productos */

.section_container {
  display: grid;
  justify-content: space-around;
  background-color: blue;
}
.article {
  position: relative;
  background-color: white;
  border-radius: 16px;
  border: 1px solid rgb(170, 170, 170);
  overflow: hidden;
}
.article_id{
  position: absolute;
  background-color: white;
  top: .5em ;
  right: .5em;
  padding: .5em;
  border-radius: .5em;
  font-weight: bold;
}
.article_img{
  background-color: blueviolet;
  width: 100%;
}
.article_content_text{
  background-color: white;
  padding: 1em;
}
.article_title{
  background-color: dodgerblue;
  padding: .5em;
  color: white;
}
.article_description{
  padding: .5em 0;
}
.article_type{

}
.article_garment{

}
.article_color{
  padding: 0 0 .5em 0;


}
.article_price{
  padding: .5em;
  background-color: lime;
  text-align: right;
  font-size: 1.2rem;

}
/*
.article_container {
  border-radius: 8px;
  background-color: white;
  margin: 1em;
  color: rgb(0, 0, 0);
  border: 1px solid deeppink;
  overflow: hidden;
  padding: .5em;
}

.article_home img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  margin: 0;
}

.article_home .title {
  display: flex;
  justify-content: center;
  background-color: var(--colorDodgerBlue);
  align-self: center;
  width: 100%;
}

.article_home .description,
.garment {
  width: 100%;
}

.article_home .description,
.garment {
  font-weight: 200;

}

.article_home .garment{
  text-align: left;
}

.article_home .price {
  padding: .5em;
  width: 100%;
  background-color: lime;
  text-align: end;
  margin: auto;
}

/* CSS 2 */

/* Contenedor del sección */
.section{
    background-color: dodgerblue;
    background-color: white;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    margin: 0;
}

/* Boton de acción */
.accion{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

/* Articles */
.article_container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 340px;
    border-radius: 1em;
    overflow: hidden;
    margin: .5em;
    border: 1px solid gainsboro;
}
.article_container span{
    padding: .5em;
    position: absolute;
    left: .5em;
    top: .5em;
    font-weight: bold;
}
.article_container img{
    width: 100%;
    display: block;
}

.article_container h2{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: dodgerblue;
    color: white;
}
.article_container .text_container{
    display: grid;
    position: absolute;
    bottom: 0;
}

.article_container .text_container .descripcion{
    display: block;
    width: 95%;
    background-color: whitesmoke;
    padding: .5em;
}

.article_container .text_container .precio{
    text-align: center;
    font-size: 1.5rem;
}
